@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
footer
========================================================================== */

.area {
    width: 100%;
    height: 200px;
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
    height: 45px;
    width: 45px;
    display: inline-block;
    vertical-align: middle;
    background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
    background-size: contain;
}
