@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
footer
========================================================================== */
.rightSide {
    width: 200px;
    height: 600px;
    //background: red;
    float: right;
}

.leftCont {
    float: left;
    width: 100%;
    margin-right: 200px;
    //background-color: blue;
    margin-bottom: -2000px;
    padding-bottom: 2000px;
}
.area {
    width: 100%;
    height: 200px;
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
    height: 45px;
    width: 45px;
    display: inline-block;
    vertical-align: middle;
    background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
    background-size: contain;
}
