<form name="deleteForm" (ngSubmit)="confirmDelete(user.login)">
    <div class="modal-header">
        <h4 class="modal-title">确认删除操作</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p>确认删除此用户?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>取消</span>
        </button>
        <button type="submit" class="btn btn-danger">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>删除</span>
        </button>
    </div>
</form>
