
<div>
    <p-table #dt  [columns]="cols" [value]="datas" [responsive]="true"  [rows]="10" [paginator]="true" [pageLinks]="3" [(selection)]="selectedInfo"
              [totalRecords]="totalCount" [loading]="loadingData"  [resizableColumns]="true" dataKey="id"
             >
        <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix">
                <div style="float:left">
                    <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="增加任务" (click)="addTask()"></button>
                    <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="刷新" (click)="refresh()" ></button>
                    <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="删除任务" (click)="deleteTask()" ></button>
                </div>
                <div  style="float:right">
                    <i class="fa fa-search" style="margin:4px 4px 0 0; "></i>
                    <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    <!--<button type="button" pButton icon="fa fa-file" iconPos="left" label="清除筛选条件"  style="float:right" (click)="clear()"></button>-->
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="colgroup">
            <colgroup>
                <col >
                <col >
                <col >
                <col >
                <col >
                <col >
                <col >
                <col >
                <col >
                <col >
                <col style="width:20%">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3.25em">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" pResizableColumn>
                    {{col.header}}
                </th>
                <th>
                操作
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns" class="ui-resizable-column">
                    <span class="ui-column-title">{{col.header}}</span>
                    {{rowData[col.field]}}
                </td>
                <td class="ui-resizable-column">
                <div class="ui-toolbar-group-right">
                <button pButton type="button"  icon="pi pi-eye" label="查看" (click)=showDetail(rowData)></button>
                <button *ngIf="rowData.status == 'running'" pButton type="button" icon="pi pi-bell" class="ui-button-success" label= "暂停"></button>
                <button *ngIf="rowData.status == 'pause' || rowData.status == 'fail'" pButton type="button" icon="pi pi-file" class="ui-button-secondary" label= "重启"></button>
                <button *ngIf="rowData.status == 'running'" pButton type="button" icon="pi pi-bookmark" class="ui-button-warning" label= "终止"></button>
                <button *ngIf="rowData.status == 'finish' || rowData.status == 'fail'" pButton type="button" icon="pi pi-times" class="ui-button-danger" label="删除" (click)= delone(rowData.id) ></button>
                </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            共有 {{totalCount}} 信息.
        </ng-template>
    </p-table>
</div>



<p-dialog header="分布详细信息" [(visible)]="showDialog"  [style]="{width: '50vw', height: '100vh'}" [maximizable]="true"
          [resizable]="false">
<!--    [draggable]="false" [resizable]="false" [baseZIndex]="10000"-->

        <p-scrollPanel [style]="{width: '100%', height: '100vh'}">
        <div>
            <p-table #dtf  [columns]="innercols" [value]="innerdatas" [responsive]="true"  [rows]="10" [paginator]="true" [pageLinks]="3"
                      [totalRecords]="totalinnerCount" [loading]="loadinginnerData" [resizableColumns]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="ui-helper-clearfix">
                        <div style="float:left">
                            <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="复原" (click)=Toback()></button>
                        </div>
                        <div  style="float:right">
                            <i class="fa fa-search" style="margin:4px 4px 0 0; "></i>
                            <input type="text" pInputText size="50" placeholder="搜索" (input)="dtf.filterGlobal($event.target.value, 'contains')" style="width:auto">
                            <!--<button type="button" pButton icon="fa fa-file" iconPos="left" label="清除筛选条件"  style="float:right" (click)="clear()"></button>-->
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 3.25em">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th *ngFor="let col of columns" pResizableColumn>
                            {{col.header}}
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td>
                            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                        </td>
                        <td *ngFor="let col of columns" class="ui-resizable-column">
                            <span class="ui-column-title">{{col.header}}</span>
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    共有 {{totalinnerCount}} 信息.
                </ng-template>
            </p-table>
        </div>

        <div echarts [options]="regionOptions" id="treeSvg" ></div>
        <div>
            <p-button icon="pi pi-check" (click)="showDialog=false" label="Yes" class="p-button-text"></p-button>
            <p-button icon="pi pi-times" (click)="showDialog=false" label="No"></p-button>
        </div>

        </p-scrollPanel>
</p-dialog>

<p-dialog header="添加备份任务" [(visible)]="addDialog" [responsive]="true" showEffect="fade" [modal]="false" [style]="{width: '700px'}"
          [contentStyle]="{'overflow':'visible'}" >
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="addTmpTask">

        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label>任务名称</label></div>
            <div class="ui-grid-col-10">
                <input pInputText id="name" [(ngModel)]="addTmpTask.name"/>
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="start-time">开始时间</label></div>
            <div class="ui-grid-col-8">
                <p-calendar   id="start-time" [(ngModel)]="startTime"  [readonlyInput]="true" ></p-calendar>
            </div>
            <div class="ui-grid-col-4"><label for="end-time">结束时间</label></div>
            <div class="ui-grid-col-8">
                <p-calendar   id="end-time" [(ngModel)]="endTime"  [readonlyInput]="true" ></p-calendar>
            </div>
        </div>
<!--        dateFormat="yy-mm-dd HH:mm:ss"-->

        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label>数据块数</label></div>
            <div class="ui-grid-col-8"><input pInputText id="datanum" [(ngModel)]="addTmpTask.datanum"/></div>


            <div class="ui-grid-col-4"><label>校验块数</label></div>
            <div class="ui-grid-col-8"><input pInputText id="threshholdset" [(ngModel)]="addTmpTask.checknum"/></div>

        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label>编码矩阵</label></div>
            <div class="ui-grid-col-10">
                <p-dropdown [options]="matrixOptions" [(ngModel)]="matrix" placeholder="请选择编码矩阵"
                            [autoWidth]="false" id="matrix" ></p-dropdown>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label>任务类型</label></div>
            <div class="ui-grid-col-10">
                <p-dropdown [options]="taskTypeOptions" [(ngModel)]="taskType" placeholder="请选择任务类型"
                            [autoWidth]="false" id="taskType" (onChange)="changeType()"></p-dropdown>
            </div>
        </div>
        <div class="ui-grid-row" *ngIf="ifcycle">
            <div class="ui-grid-col-2"><label>任务周期(天)</label></div>
            <div class="ui-grid-col-10">
                <input pInputText id="cycle" [(ngModel)]="addTmpTask.cycle"/>
            </div>
        </div>



    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-check" (click)="save()" label="保存"></button>
        </div>
    </p-footer>

</p-dialog>
<p-growl [(value)]="msgs"></p-growl>


<p-dialog header="解码任务中..." [(visible)]="synshow"   closable="false"  >

    <div >
        <p-progressBar mode="indeterminate" [style]="{'height': '6px', 'width': '500px'}"></p-progressBar>
    </div>

</p-dialog>












