.rightSide {
    width: 200px;
    height: 600px;
    //background: red;
    float: right;
}

.leftCont {
    float: left;
    //width: 100%;
    margin-right: 200px;
    //background-color: blue;
    margin-bottom: -2000px;
    //padding-bottom: 2000px;
}
